/*======================== ResetPass =======================*/

.ResetPass {
  min-height: 100vh;
}
.ResetPass .title {
  font-size: 5rem;
}
.ResetPass .desc {
  font-size: 1.6rem;
  color: #a2c3d9;
  margin-bottom: 3rem;
}
.input-bar{
    border: 1px solid rgb(255, 0, 0);
    width: 100%;
}
.ResetPass .error-mess {
  width: 100%;
  padding-left: 2rem;
  text-align: left;
  color: red;
  font-size: 1.2rem;
  text-transform: capitalize;
  visibility: hidden;
}
.ResetPass .switch-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  color: var(--text-color);
  font-size: 1.6rem;
}
.ResetPass .switch-links--light {
  color: var(--text-color-light) !important;
}
