.HeaderHome {
  top: 0;
  padding: 0 4rem;
  background-color: var(--background-color-header);
}

.logo {
  gap: 0.8rem;
  padding: 2.5rem 0;
  border-bottom: 2.3px solid rgb(255, 0, 0);
}
.logo__text {
  font-size: 2rem;
}

.account__avt {
  width: 5rem;
  height: 5rem;
}

.account__hidden {
  top: 105%;
  right: 4rem;
  min-width: 25rem;
  font-size: 1.4rem;
  border-radius: 0.7rem;
  color: var(--text-color-light);
  background-color: var(--background-color-header);
}
.account__hidden > * {
  padding: 1.5rem;
}

.setting {
  cursor: pointer;
}
