.taskBar__container,
.taskBar__actions,
.taskBar__group {
  display: flex;
  gap: 1rem;
}

.taskBar__container {
  text-transform: capitalize;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 80%;
  max-width: 100rem;
}
.taskBar__actions {
  justify-content: center;
  flex-direction: column;
}
.taskBar__group {
  align-items: center;
  justify-content: right;
}
.taskBar__action {
  height: 100%;
  padding: 0.8rem 2rem !important;
  margin-bottom: 0;
  border-radius: 1.5rem;
  position: relative;
}

.taskBar__input {
  min-width: 5rem;
  padding: 1rem;
  width: 3rem !important;
  font-size: 1.5rem;
}
.taskBar__detail {
  font-size: 2rem;
  font-weight: 700;
}
.taskBar__lable {
  font-size: 1.5rem;
}

@media only screen and (max-width: 647px) {
  .taskBar__container {
    flex-direction: column;
    gap: 1rem;
  }

  .taskBar__actions,
  .taskBar__group,
  .taskBar__details {
    width: 100%;
  }
  .taskBar__actions {
    justify-content: center;
    flex-direction: column;
  }
  .taskBar__group {
    align-items: center;
    justify-content: left;
  }
  .taskBar__group_search {
    flex-direction: row-reverse;
  }

}
