
/*======================== SignUp =======================*/

.SignUp {
  min-height: 100vh;
}
.SignUp .title {
  font-size: 5rem;
}
.SignUp .separate {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: var(--text-color);
}
.SignUp .switch-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  color: var(--text-color);
  font-size: 1.6rem;
}
