:root {
  --background-color-header: #272732;
  --bg-btn-pink: #fb71a5;
  --bg-btn-gray: #2e2e3b;
  /*Text color*/
  --text-color: #c3c3cd;
  --text-color-light: #fff;
  --text-color-dark: #000;
  /* box-sizing:  padding-box; */
  /* Value */
  --toastify-toast-width: 250px;
}

* {
  box-sizing: inherit;
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}
/* {error !== "" ? <div className="signin__error">{error}</div> : ""} */
.button,
input {
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: var(--text-color-light);
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s all ease;
  margin-bottom: 2rem;
}
.button.btn--flex {
  padding: 1.3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-weight: 500;
}
.btns--flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.button.btn--full-width,
input.btn--full-width {
  width: 100%;
}

.button.btn--none-border,
input.input--none-border {
  border: none;
  outline: none;
}

.button.btn--border {
  border: 3px solid #30303d;
}

.btn--border-error {
  border: 3px solid red;
}
.button.btn--bb-pink {
  border-bottom: 3.5px solid #a74391;
}
.button.btn--bb-gray {
  border-bottom: 3.5px solid #23232c;
}

.button.btn--bg-pink {
  background-color: var(--bg-btn-pink);
}
.button.btn--bg-gray {
  background-color: var(--bg-btn-gray);
}

.button.btn--hover-bb:hover,
.input--focus-bb:focus {
  border-bottom: 3px solid var(--bg-btn-pink);
}
.button.btn--hover-border:hover,
.input--focus-border:focus {
  border: 3px solid var(--bg-btn-pink);
}
.button.btn--hover-bg-gray:hover {
  background-color: var(--bg-btn-gray);
}
.button.btn--hover-border:hover {
  border: 3px solid var(--bg-btn-pink);
}
.button.btn--hover-bg-gray-light:hover {
  background-color: #888c9c !important;
}

.btn--hover-trans:hover {
  transform: translateY(-0.7rem);
}

.button.btn--outline:focus {
  border: 3px solid #3182ce;
}
.button .button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button ion-icon {
  font-size: 2.2rem;
}
input {
  outline: none;
  border: 3px solid #30303d;
  padding: 1.3rem 2rem;
}
ion-icon {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*======================== App =======================*/
.content {
  margin: auto;
  padding: 12rem 0;
  max-width: 40rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  text-align: center;
}
